@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

:root {
    --background: #B4CDE3;
    --background-main: #C7D1CA;
    
    font-family: 'Inter', sans-serif;
    font-size: 16px;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-semibold: 600;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.container {
    /* height: 100vh;
    width: 100vw;
    padding: 1rem; */
    width: 100vw;
    margin-top: 3rem;
}

.content {
    display: flex;
    flex-direction: column-reverse;
    background: linear-gradient(0deg, white 90%, var(--background-main) 10%);
}

.sidebar.left {
    position: absolute;
    top: 0;
    left: 0;
    height: 3rem;
    padding: 0 1rem;
    width: 100%;
    background-color: var(--background-main);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    font-size: 1.25rem;
}

.nav {
    display: none;
}

.menu {
    display: block;
}

#settings-btn {
    display: none;
    font-size: 1.25rem;
}

.center {
    height: 100%;
    background-color: white;
    grid-column: 2 / 7;
    padding: 2.5rem;
    /* overflow-y: scroll; */
}

.header {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.header.sidebar-right {
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1.5rem;
}

.dashboard-title {
    font-size: 2rem;
}

.new-btn {
    height: 2rem;
    width: 6.25rem;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: var(--fw-semibold);
}

.section-title {
    font-size: 1.5rem;
    font-weight: var(--fw-regular);
    opacity: 50%;
}

.cards {
    margin: 1rem 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-template-rows: auto;
}

.card {
    border-radius: 20px;
    aspect-ratio: 1 / 1.15;
    background-color: #d9d9d9;
    backdrop-filter: blur(0);
    overflow: hidden;
}

.stacked {
    display: grid;
}

.stacked > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.card-image {
    height: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.card-content {
    width: 100%;
    align-self: end;
    z-index: 1;
    padding: 1rem;
    color: white;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(0.5rem);
}

.card-title {
    font-size: 18px;
}

.card-description {
    margin-top: 0.5rem;
    font-size: 14px;
}

.header.sidebar-right {
    display: none;
}

.sidebar.right {
    height: 100%;
    min-width: 320px;
    background-color: white;
    grid-column: 7 / 9;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.profile-img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.profile-name {
    font-size: 1rem;
}

.section-sidebar-right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section-title-sidebar-right {
    font-size: 1.5rem;
    align-self: center;
}

.progress-card {
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 1rem;
    position: relative;
    display: grid;
    grid: repeat(4, 1fr) / repeat(2, 1fr);
    grid-template-areas: 
        "title title"
        "subtitle subtitle"
        ". ."
        "seemore .";
    overflow: hidden;
}

.progress-card > :not(img) {
    z-index: 1;
}

.progress-card > img {
    position: absolute;
    align-self: center;
    left: 30%;
    width: 100%;
    z-index: 0;
    opacity: 90%;
}

.progress-title {
    font-size: 1rem;
    grid-area: title;
}

.progress-subtitle {
    font-size: 0.8rem;
    grid-area: subtitle;
}

.seemore {
    border-radius: 30px;
    height: 2rem;
    width: 5rem;
    font-size: 0.7rem;
    grid-area: seemore;
}

#seemore-top {
    color: white;
    background-color: orange;
}

#seemore-cs50x {
    color: white;
    background-color: red;
}

.circle-progress-bar {
    grid-area: circle-progress-bar;
    height: 80px;
    width: 80px;
    font-size: 1.5rem;
    font-weight: var(--fw-semibold);
    aspect-ratio: 1 / 1;
    background-color: white;
    border-radius: 50%;
    justify-self: end;
    display: flex;
    align-items: center;
    justify-content: center;
    background: 
    radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(red 20%, orange 0);  
    display: none;
}

.progress-bar {
    height: 0.25rem;
    border-radius: 10px;
    background-color: silver;
    position: relative;
    display: flex;
    align-items: center;
}

.progress {
    position: absolute;
    left: 0;
    height: 0.5rem;
    border-radius: inherit;
}

.progress#top {
    width: 60%;
    background-color: orange;
}

.progress#cs50x {
    width: 40%;
    background-color: red;
}

@media (width >= 768px) {
    main.container {
        /* height: 100vh;
        width: 100vw;
        padding: 1rem; */
        height: 100vh;
    }
    
    .content {
        display: flex;
        flex-direction: row;
        background: linear-gradient(90deg, var(--background-main) 50%, white 50%);
    }
}

@media (width >= 1024px) {
    main.container {
        margin-top: 0;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;    
    }
    
    .content {
        height: 100%;
        width: 100%;
        border-radius: 40px;
        background: linear-gradient(90deg, var(--background-main) 50%, white 50%);
        box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.04);
        position: relative;
        display: grid;
        grid: 1fr / repeat(8, 1fr);
    }

    .sidebar.left {
        position: unset;
        padding: 2rem;
        height: 100%;
        width: unset;
        border-radius: 40px 0 0 40px;
        grid-column: 1 / 2;
        flex-direction: column;
    }  
    
    .nav {
        display: flex;
        flex-direction: column;
        gap: 1rem;    
    }

    .nav > * {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .nav > * > i {
        grid-column: 1;
    }
    
    .nav > * > span {
        grid-column: 2/4;
    }
    
    .sidebar.left .menu {
        display: none;
    }

    #settings-btn {
        display: block;
    }

    .center {
        height: 100%;
        border-radius: 40px 0 0 40px;
        background-color: white;
        box-shadow: -11px 0px 30px 0px rgba(0, 0, 0, 0.04);
        grid-column: 2 / 7;
        padding: 2.5rem;
        /* overflow-y: scroll; */
    }

    .sidebar.right {
        height: 100%;
        min-width: 320px;
        border-radius: inherit;
        background-color: white;
        box-shadow: -11px 0px 30px 0px rgba(0, 0, 0, 0.04);
        grid-column: 7 / 9;
        padding: 0 2rem;
    }
    
    .header.sidebar-right {
        margin: 2rem 0 0 0;
        display: flex;
    }

    .section-title-sidebar-right {
        align-self: flex-start;
    }    
    
} 

@media (width >= 1124px) {
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
}