/* 
Logo - Fix position 
Listen to fav music - always aligned with logo
Sign up form - always center center
Fonts will change after > 768 wide
Image - Always center the face
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

:root {
    --text: #0b281b;
    --background: #ffffff;
    --primary-button: #1f6b4a;
    --secondary-button: #e7f8f1;
    --accent: #19573c;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 700;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: 0;
    color: var(--text);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

body {
    display: flex;
}

a {
    color: var(--accent);
}

button {
    color: white;
    background-color: var(--primary-button);
    border-radius: 5px;
}

button:hover, .header:hover {
    cursor: pointer;
}

button.logo {
    background-image: url(src/odin-lined.png);
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: center;
    height: 29px;
    width: 29px;
    border-radius: 50%;
}

button#signup-w-google {
    color: var(--primary-button);
    border: 1px solid var(--primary-button);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

button#signup-w-google img {
    height: 12px;
    width: 12px;
    margin-right: 0.3125rem;
}

input,
button:not(.logo) {
    height: 27.5px;
    width: 233px;
}

input {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

input:not([type="checkbox"]) {
    padding: 0 0.5rem;
    width: 216px;
    outline: none;
}

input[type="checkbox"]#terms {
    height: 12.5px;
    width: 12.5px;
}

input[type="email"] {
    position: relative;
}

label#alert {
    display: none;
}

input.invalid {
    border: 1px solid red;
}

input[type="email"].invalid ~ label[for="email"]#alert, 
#password.invalid ~ label[for="password"]#alert, 
#confirm-password.invalid ~ label[for="confirm-password"]#alert {
    display: block;
    color: red;
}

button,
p.logo-name {
    font-weight: var(--fw-bold);
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 0.75rem;
}

label {
    letter-spacing: 0.5px;
}

label,
button,
p.terms,
p.have-account {
    font-size: 0.625rem;
}

p.terms {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

p.terms > input[type="checkbox"] {
    margin-right: 0.25rem;
}

.left {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header {
    position: absolute;
    top: 0;
    padding: 0rem .8rem;
    height: 3.625rem;
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

.signup-form-container {
    margin: 0rem .8rem;
    padding: 2.18rem 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-form {
    display: flex;
    flex-direction: column;
    margin-top: 0.6875rem;
}

.signup-form>*:not(input) {
    margin-top: 0.875rem;
}

#signup-w-google {
    margin-top: 0.5rem;
}

.have-account {
    margin-top: 1.2rem;
}

.right {
    display: none;
    background: url(src/pexels-sound-on-3756961.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

p.tagline {
    padding-left: 1.5rem;
    height: 3.625rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    font-weight: var(--fw-light);
    color: var(--accent);
}

@media (width >=768px) {
    .left {
        width: 55.33vw;
    }

    .signup-form-container {
        align-items: flex-start;
    }

    .right {
        display: block;
        width: 44.77vw;
    }
    
    .logo-name {
        font-size: 1.25rem;
    }

}

@media (width >= 1024px) {
    .left {
        width: 44.77vw;
    }
    
    .right {
        background-size: 125%;
        width: 55.33vw;
    }    
    
    .logo-name {
        font-size: 1.5rem;
    }

}    

@media (width >= 1440px) {

    .signup-form-container {
        margin-top: 20px;
    }    
    
    .header {
        padding: 20px;
    }    

    button.logo {
        background-size: 27px;
        height: 59px;
        width: 59px;
    }        
    button#signup-w-google img {
        height: 16px;
        width: 16px;
        margin-right: 0.3125rem;
    }

    input,
    button:not(.logo) {
        height: 37px;
        width: 314px;
    }

    input:not([type="checkbox"]) {
        padding: 0 0.5rem;
        width: 296px;
    }

    input[type="checkbox"]#terms {
        height: 17px;
        width: 17px;
    }

    h3 {
        font-size: 2.25rem;
    }

    p {
        font-size: 1rem;
    }

    label {
        letter-spacing: 0.5px;
    }

    label,
    button,
    p.terms,
    p.have-account {
        font-size: 0.75rem;
    }

    p.tagline {
        padding-top: 1rem;
        padding-left: 2rem;
        font-size: 2rem;
    }
}

@media (width >= 1600px) {
    .left {
        width: 35vw;
    }

    .right {
        width: 65vw;
        background-size: cover;
    }
}

@media (width >= 1920px) {
    .left {
        width: 30vw;
    }

    .right {
        width: 70vw;
    }
}