@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

:root {
    --fc-action-txt: #ffffff7c;
    --fc-main-txt: #ffffff;
    --fc-others-btn: #27374D;
    --bc-body: #DDE6ED;
    --bc-calculator-body: #27374D;
    --bc-digits-btn: #526D82;
    --bc-operator-btn: #F69906;
    --bc-others-btn: #9DB2BF;
    --bc-textarea: transparent;

    --fw-extra-light: 200;
    --fw-regular: 400;
    --fw-bold: 700;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: var(--fw-regular);
    color: var(--fc-main-txt);
    user-select: none;
}

body {
    background-color: var(--bc-body);
    height: 100vh;
    width: 100vw;
}

.right {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator-body {
    height: 537px;
    width: 336px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 20px;
    background-color: var(--bc-calculator-body);
    box-shadow: 8px 6px 15px 0px rgba(0, 0, 0, 0.25);
}

.display {
    height: 120px;
    width: 286px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10) inset;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

input {
    width: 100%;
    text-align: right;
    font-weight: var(--fw-extra-light);
    background-color: transparent;
    padding-right: .5rem;
}

#result-txt {
    height: 73px;
    font-size: 4rem;
}

#action-taken-txt {
    color: var(--fc-action-txt);
}

.buttons {
    height: 350px;
    width: 286px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.buttons > * {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 60px;
    font-size: 2.25rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .05s ease-in-out;
}

.btn:active {
    opacity: 0.5;
}

#ac-btn,
#pm-btn,
#bs-btn {
    font-size: 1.25rem;
}

#zero-btn {
    width: 135px;
    padding-left: 1rem;
    border-radius: 49px;
    font-size: 2rem;
    justify-content: flex-start;
}

.btn.digits,
.btn.decimal {
    background-color: var(--bc-digits-btn);
}

.btn.others {
    color: var(--fc-others-btn);
    background-color: var(--bc-others-btn);
}

.btn.operators,
.btn.equals {
    background-color: var(--bc-operator-btn);
}

@media (hover: hover) {   
    .btn:hover {
        opacity: 0.7;
    }
    
    .btn:hover:active {
        opacity: 0.5;
    }
}

@media (width >= 720px) {
    .calculator-body {
        height: 578px;
        width: 362px;
    }

    .display {
        height: 129px;
        width: 308px;
    }

    .buttons {
        height: 377px;
        width: 308px;
    }

    .btn {
        height: 65px;
        width: 65px;
        font-size: 2.5rem;
    }
    
    #ac-btn,
    #pm-btn,
    #bs-btn {
        font-size: 1.5rem;
    }

    #zero-btn {
        height: 65px;
        width: 146px;
    }
}