.gameboard {
    font-size: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 100px);
}

.field {
    height: 100px;
    width: 100px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message {
    font-size: 2rem;
}

