@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
    --background: #FDFDFD;
    --primary: #4A80F0;
    --secondary: #1A1A23;
    --light-grey: #EBEBEB;
    --grey: #B0B0B0;
    --dark-grey: #8E8E8E;

    font-family: 'Inter', sans-serif;
    font-size: 16px;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    grid-template-areas: "main sidebar";
}

main {
    grid-area: main;
    padding: 0 2.5rem;
    background-color: var(--background);
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 6rem;
    margin-bottom: 1rem;
}

nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tabs {
    width: 5rem;
    height: 2.5rem;
    color: var(--secondary);
    font-size: 1.25rem;
    font-weight: var(--fw-bold);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.books {
    border-bottom: 2px solid var(--primary);
}

.search-bar {
    width: 22rem;
    height: 2.5rem;
    padding: 0 1.25rem;
    border-radius: 20px;
    background-color: var(--light-grey);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#search-input {
    width: 100%;
    font-size: 1rem;
    color: var(--secondary);
    background-color: transparent;
}

#search-input::placeholder {
    color: grey;
}

#search-input:focus {
    outline: none;
}

#search-btn {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--dark-grey);
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, 11.625rem);
    gap: 3rem;
}

.card {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.card:hover {
    cursor: pointer;
}

.card.selected {
    background-color: var(--primary);
}

.card.selected > .book-title,
.card.selected > .book-author {
    color: var(--background);
}   

.selected {
    border-radius: 20px;
    box-shadow: 0 0 0 10px var(--primary);
}

.card.read .cover {
    position: relative;
    background-color: var(--background);
}

.card.read .cover .read-icon {
    position: absolute;
    color: var(--primary);
}

.card.read .cover > img {
    opacity: 5%;
}

.cover {
    height: 233px;
    border-radius: 20px;
    background-color: var(--light-grey);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover > img {
    height: 100%;
    object-fit: cover;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.book-title {
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    font-size: 1rem;
    font-weight: var(--fw-bold);
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.book-author {
    color: var(--dark-grey);
    font-size: 0.75rem;
    text-align: center;
}

dialog {
    width: 457px;
    height: 337px;
    margin-left: -228.5px;
    margin-top: -168.5px;
    border-radius: 30px;
    padding: 2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    background: var(--background);
}

dialog::backdrop {
    background: rgba(26, 26, 35, 0.60);
}

.dialog-title {
    font-size: 1.25rem;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(2, 191px);
    gap: 1rem;
}

.dialog-header {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dialog-header form > button {
    cursor: pointer;
    background-color: transparent;
}

.dialog-header form > button:focus {
    outline: none;
}

.upload-img {
    height: 233px;
    border-radius: 20px;
    color: var(--dark-grey);
    background-color: var(--light-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.upload-img:hover {
    cursor: not-allowed;
}

.upload-img p {
    font-size: 0.75rem;
}

.form-container form {
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-container form > input {
    height: 2.25rem;
    padding: 0 1rem;
    border-radius: 5px;
    background-color: var(--light-grey);
}

.form-container form > input::placeholder {
    color: var(--dark-grey);
}

.form-container form > input:focus {
    outline: none;
}

.form-container form > p {
    display: flex;
    align-self: flex-end;
    align-items: center;
    gap: 0.5rem;
}

.form-container form > button:last-child {
    height: 2.25rem;
    border-radius: 5px;
    margin-top: auto;
    color: var(--background);
    background-color: var(--primary);
    font-size: 0.75rem;
    font-weight: var(--fw-semibold);
    cursor: pointer;
}

.sidebar { 
    grid-area: sidebar;
    width: 423px;
    height: 100vh;
    padding: 0 1.75rem 1.75rem;
    background-color: var(--secondary);
    align-self: end;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-header {
    width: 100%;
    height: 6rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-title {
    height: 2.5rem;
    color: var(--background);
    font-size: 1.25rem;
    font-weight: var(--fw-bold);
    display: flex;
    align-items: center;
    justify-content: center;
}   

.sidebar-book-cover {
    width: 270px;
    height: 338px;
    border-radius: 20px;
    background-color: var(--light-grey);
}

.sidebar-actions {
    margin-top: auto;
    display: flex;
    gap: 1rem;
}

.read-status-container {
    width: 322px;
    height: 50px;
    border-radius: 25px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

#read-status {
    color: var(--background);
    font-size: 1rem;
    font-weight: var(--fw-semibold);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#read-status > input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

#delete-book {
    color: var(--background);
    background-color: transparent;
    cursor: pointer;
}