@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --bc-skyblue: #C6DFEB;
    --bc-skyblue-dark: #64A9C9;
    --bc-skyblue-light: #BCE0F0;
    --b-dark-brown: #3E322D;
}

* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1080px;
    width: 1920px;
}

header {
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 2rem;
    background-color: var(--bc-skyblue-dark);
}

header > h3 {
    color: white;
    font-size: 2rem;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bc-skyblue-light);
    width: 340px;
    height: 1000px;
    box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.05);
    z-index: 1;
}

.sidebar > #grid-size {
    margin-top: 3rem;
    height: 2rem;
    outline: none;
    border-radius: 10px;
}

.sidebar > #grid-size::-webkit-slider-thumb {
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    z-index: 2;
}

.sidebar > button {
    margin-top: 1rem;
    height: 3rem;
    width: 5rem;
}

.sidebar > button:hover {
    cursor: pointer;
}

.drawing-board-container {
    background-color: var(--bc-skyblue);
    height: 1000px;
    width: 1580px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#drawing-board {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 600px;
    width: 1200px;
    border: 3px var(--b-dark-brown) solid;
    border-radius: 10px;
    background-color: white;
}

.row {
    width: 100%;
    flex-grow: 1;
    display: flex;
}

.col {
    flex-grow: 1;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.border > .row > .col {
    border: 1px solid rgba(128, 128, 128, 0.25);
}

.hovered {
    background-color: black;
}